<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
{% load staticfiles %}
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>天天生鲜-商品详情</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>

<style>
    .goods_detail_pic img{
        height: 350px;
        width: 350px;
    }
</style>

<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜商城!</div>
			<div class="fr">
				{% if request.user.is_authenticated %}
                    <div class="login_info fl">
					欢迎您：<em>{{ request.user.username }}</em>
				    </div>

                    <div class="user_link fl">
					<span>|</span>
					<a href="{% url 'user:users' %}">用户中心</a>
					<span>|</span>
					<a href="{% url 'cart:show' %}">我的购物车</a>
					<span>|</span>
					<a href="{% url 'user:order' 1 %}">我的订单</a>
                    <span>|</span>
					<a href="{% url 'user:logout' %}">退出登录</a>
				</div>
                {% else %}
                    <div class="login_btn fl">
                        <a href="{% url 'user:login' %}">登录</a>
                        <span>&nbsp; | &nbsp;</span>
                        <a href="{% url 'user:register' %}">注册</a>
				    </div>
                {% endif %}
			</div>
		</div>		
	</div>

	<div class="search_bar clearfix">
		<a href="{% url 'goods:index' %}" class="logo fl"><img src="{% static 'images/logo.png' %}"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" id="search_keywords" name="keywords" placeholder="搜索商品">
            <input type="button" class="input_btn fr" id="jsSearchBtn" name="search" value="搜索">
		</div>
		<div class="guest_cart fr">
			<a href="{% url 'cart:show' %}" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count">{{ cart_count }}</div>
		</div>
	</div>

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					{% for type in types %}
					    <li><a href="{% url 'goods:list' type.id 1 %}" class="{{ type.logo }}">{{ type.name }}</a></li>
					{% endfor %}
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="{% url 'goods:index' %}">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<span>全部分类</span>
		<span>></span>
		<span>{{ sku.type.name }}</span>
		<span>></span>
		<span>商品详情</span>
	</div>

    <form action="/order/buy" method="post">
	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="{{ sku.image.url }}"></div>

		<div class="goods_detail_list fr">
			<h3>{{ sku.name }}</h3>
			<p>{{ sku.desc }}</p>
            <input type="hidden" name="sku_id" value="{{ sku.id }}">
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{ sku.price }}</em></span>
				<span class="show_unit">规格：{{ sku.unite }}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1" name="buy_count">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>	
				</div> 
			</div>
			<div class="total">总价：<em>{{ sku.price }}元</em></div>
			<div class="operate_btn">
                {% csrf_token %}
{#				<a href="javascript:;" class="buy_btn" id="now_buy">立即购买</a>#}
                <input type="submit" class="buy_btn" value="立即购买">
				<a href="javascript:;" class="add_cart" id="add_cart" sku_id="{{ sku.id }}">加入购物车</a>
			</div>
		</div>
	</div>
    </form>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					{% for new_sku in new_skus %}
					    <li>
                            <a href="{% url 'goods:detail' new_sku.id %}"><img src="{{ new_sku.image.url }}"></a>
                            <h4><a href="#">{{ new_sku.name }}</a></h4>
                            <div class="prize">￥{{ new_sku.price }}</div>
					    </li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li id='tag_detail' class="active">商品介绍</li>
				<li id="tag_comment">评论</li>
			</ul>

            <div class="tab_content" id="tab_detail">
				<dl>
					<dt>商品详情：</dt>
                    <dd>{{ sku.goods.detail|safe }}</dd>
				</dl>
			</div>

			<div class="tab_content" id="tab_comment" style="display: none">
				<dl>
                    {% for order in sku_orders %}
					<dt>#&nbsp;{{ forloop.counter }}楼&nbsp;&nbsp;&nbsp;{{ order.update_time }}&nbsp;&nbsp;用户名：{{ order.order.user.username }}</dt>
                    <dd><b>评论内容：</b>{{ order.comment }}</dd>
                        <br>
                    {% endfor %}
				</dl>
			</div>

		</div>
	</div>

	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>天天生鲜商城系统</p>
	</div>
	<div class="add_jump"></div>

	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/search.js' %}"></script>

	<script type="text/javascript">

        $('#tag_detail').click(function () {
            $('#tag_comment').removeClass('active');
            $(this).addClass('active');
            $('#tab_detail').show();
            $('#tab_comment').hide()
        });

        $('#tag_comment').click(function () {
            $('#tag_detail').removeClass('active');
            $(this).addClass('active');
            $('#tab_detail').hide();
            $('#tab_comment').show()
        });

        // 页面加载时就调用update_goods_amount函数，更新总价
        update_goods_amount();

        // 计算商品的总价
        function update_goods_amount(){
            //获取商品的价格和数量
            price = $('.show_pirze').children('em').text();
            count = $('.num_show').val();
            // 先将获取到的数据转换成数字类型再计算商品的总价格
            price = parseFloat(price);  // 将价格转换成一个浮点型的数据（有小数）
            count = parseInt(count);
            amount = price*count;
            // 设置商品的总价，x.toFixed(n):将x转化成一个n位小数的数据
            $('.total').children('em').text(amount.toFixed(2)+'元')
        }

        // 点击加号，增加商品数量
        $('.add').click(function () {
            // 获取商品原有数目
            count = $('.num_show').val();
            // 执行加一操作
            count = parseInt(count)+1;
            // 重置商品数量
            $('.num_show').val(count);
            // 更新商品总价
            update_goods_amount()
        });

        // 点击减号减少商品数量
        $('.minus').click(function () {
            // 获取商品原有数目
            count = $('.num_show').val();
            // 执行加一操作
            count = parseInt(count)-1;
            if (count<=0){
                count = 1
            }
            // 重置商品数量
            $('.num_show').val(count);
            // 更新商品总价
            update_goods_amount()
        });

        // 手动输入商品的数量
        // 给输入框绑定一个失去焦点的函数
        $('.num_show').blur(function () {
           // 获取用户输入的数目
           count = $(this).val();
           // 校验用户输入的count是否合法,不合法count置为1
            if (isNaN(count) || count.trim().length==0 || parseInt(count)<=0){
                count = 1
            }
            // 合法设置商品数目
            $('.num_show').val(parseInt(count));
            // 更新商品总价
            update_goods_amount()
        });

        // 获取add_cart div元素左上角的坐标
		var $add_x = $('#add_cart').offset().top;
		var $add_y = $('#add_cart').offset().left;

		// 获取show_count div元素左上角的坐标
		var $to_x = $('#show_count').offset().top;
		var $to_y = $('#show_count').offset().left;

		$('#add_cart').click(function(){
			// 获取商品id和商品数量
            sku_id = $(this).attr('sku_id');
            count = $('.num_show').val();
            csrf = $('input[name="csrfmiddlewaretoken"]').val();
            // 组织参数
            params = {'sku_id':sku_id, 'count':count, 'csrfmiddlewaretoken':csrf};
            // 发起ajax post请求，访问/cart/add, 传递参数:sku_id count
            $.ajax({
                url:'/cart/add',
                type:"POST",
                data:params,
                success:function (data) {
                    if (data.res == 5){
                        // 添加成功
                        $(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'});
                        $(".add_jump").stop().animate({
                            'left': $to_y+7,
                            'top': $to_x+7},
                            "fast", function() {
                                $(".add_jump").fadeOut('fast',function(){
                                    $('#show_count').html(data.total_count);
                                });
                        });
                    }else{
                        // 添加失败
                        alert(data.errmsg)
                    }
                }
            });
		});


	</script>
	
</body>
</html>